 .contact{
    font-family:"Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }

 .contact h1{
    font-size:20px;
    text-transform: capitalize;
    border-bottom: 2px solid #fece2f;
    transition: all 0.5s;
    color: #2980B9;
 }

 .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .contact input,textarea {
    padding: 10px;
    border:1px solid #ddd;
    transition: all 0.5s;
 }

 input:focus{
    outline: 1px solid #2980B9;
    padding: 20px;
 }

 textarea:focus{
    outline: 1px solid #2980B9;
 }
.input-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:20px;
    width: 80%;
}

.contact label{
    text-transform: capitalize;
    margin:5px 0;
}


form {
    width: 500px;
    height:500px;
    box-shadow:0 3px 6px #ddd;
    padding: 20px;
}

@media screen and (max-width:700px) {
    form{
        width: 300px;
        height: 500px;
    }
}

/* 

.contact h1{
    text-align: center;

}

form span{
    font-weight: bold;
    color: #8c8c8c;
}

form p{
    color: #8c8c8c;
}

.inputs{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputs input,.inputs textarea{
    border:2px solid #ddd;
    border-radius: 10px;
    flex: 1;
    padding: 20px;
}

 
.form-btn{
    align-self: flex-end;
    background-color: #2980B9;
    color: white;
}

@media screen and (max-width:800px) {
    .form-btn{
        align-self: center;
    }
} */