 

.footer .blue{
    color: white;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #152348;
}

.footer span{
color: #fece2f;
}

.footer p{
    margin: 5px;
}

.footer .black{
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}


@media screen and (max-width:540px) {
    .footer .black,.footer .blue{
        flex-direction: column;
    }
}